<div class="justify-center mt-10">
  <div class="flex justify-center">
    <div class="w-full mt-4">
      <!-- <mat-step [stepControl]="form" [editable]="true"> -->

      <form [formGroup]="form" class="flex flex-col padding gap-8" (ngSubmit)="saveInstitution()">

        <div class="grid gap-4 grid-cols-2">
          <div>
            <input type="text" name="name-institution" placeholder="Nombre de la institucion"
              formControlName="nameInstitution">
            <div>
              <mat-error *ngIf="hasError('nameInstitution','required')">{{inputRequired}}.</mat-error>
              <mat-error *ngIf="hasError('nameInstitution','minlength')">{{inputMinLength}}.</mat-error>
              <mat-error *ngIf="hasError('nameInstitution','maxlength')">{{inputMaxLength}}.</mat-error>
            </div>
          </div>
  
          
          <div>
            <input type="text" name="cuit-institution" placeholder="Cuit"
            formControlName="cuitInstitution">
            <div>
              <mat-error *ngIf="hasError('cuitInstitution','required')">{{inputRequired}}.</mat-error>
            </div>
          </div>
        </div>


        <div>
          <input type="text" name="email" placeholder="email" formControlName="email">
          <div>
            <mat-error *ngIf="hasError('email','required')">{{inputRequired}}.</mat-error>
      
          </div>
        </div>

        <div>
          <input [type]="showPassword ? 'text' : 'password'"  name="password" placeholder="Contraseña" formControlName="password">
          <div>
            <mat-error *ngIf="hasError('password','required')">
              {{inputRequired}}.
            </mat-error>
            <mat-error *ngIf="hasError('password','pattern')">
              La contraseña debe contener más de 8 caracteres de longitud,
              debe mezclar letras y numeros.
            </mat-error>
          </div>


        </div>

        <div>
          <input [type]="showPassword ? 'text' : 'password'"  name="confirm-password" placeholder="Confirma la contraseña"
            formControlName="confirmPassword">
          <div>
            <mat-error *ngIf="hasError('confirmPassword','required')">
              {{inputRequired}}.
            </mat-error>
            <mat-error *ngIf="passwordConfirm()">
              La contraseña no coincide.
            </mat-error>
          </div>
        </div>
        
        <div>
          <input type="text" name="province" placeholder="Provincia" formControlName="province">
          <div>
            <mat-error *ngIf="hasError('province','required')">
              {{inputRequired}}.
            </mat-error>
          </div>
        </div>

        <div>
          <input type="text" name="locality" placeholder="Localidad" formControlName="locality">
          <div>
            <mat-error *ngIf="hasError('locality','required')">
              {{inputRequired}}.
            </mat-error>
          </div>
        </div>
        
        <div class=" mx-auto ">
          <button class="bg-[#3498DB] text-white w-96 h-10 px-4 py-2 rounded-md">Crear cuenta</button>
        </div>
   <!-- <div>
          <input type="text" name="addres" placeholder="Dirección" formControlName="addressInstitution">
          <div>
            <mat-error *ngIf="hasError('addressInstitution','required')">
              {{inputRequired}}.</mat-error>
            <mat-error *ngIf="hasError('addressInstitution','minlength')">
              {{inputMinLength}}.
            </mat-error>
            <mat-error *ngIf="hasError('addressInstitution','maxlength')">
              {{inputMaxLength}}.</mat-error>
          </div>
        </div>

        <div>
          <input type="text" name="numberPhone" placeholder="Teléfono" formControlName="numberPhone">
          <div>
            <mat-error *ngIf="hasError('numberPhone','required')">
              {{inputRequired}}.</mat-error>
            <mat-error *ngIf="hasError('numberPhone','pattern')">
              Solo se aceptan numeros.
            </mat-error>
          </div>
        </div>


        <div>
          <select formControlName="timeAvailability">
            <option hidden value="" disabled selected>Disponibilidad horaria</option>
            <option value="'morning'">{{morning | titlecase }}</option>
            <option value="'afternoon'">{{afternoon | titlecase }}</option>
          </select>
          <div>
            <mat-error *ngIf="hasError('timeAvailability','required')">{{inputRequired}}.</mat-error>
          </div>
        </div>

        <div>
          <select formControlName="services">
            <option hidden value="" disabled selected>Servicios demandados</option>
            <option value="'voluntary'">{{volunteer}}</option>
            <option value="'tallerista'">{{workshops}}</option>
            <option value="'service'">{{service}}</option>
            <option value="'other'">{{other}}</option>
          </select>
          <div>
            <mat-error *ngIf="hasError('services','required')">{{inputRequired}}.</mat-error>
          </div>
        </div>     
        <div>
          <input class="border border-gray-300 rounded-md p-2 mt-2" type="text" name="name"
            placeholder="Nombre de usuario" formControlName="userName">
          <div>
            <mat-error *ngIf="hasError('userName','required')">
              {{inputRequired}}.
            </mat-error>
            <mat-error *ngIf="hasError('userName','minlength')">
              {{inputMinLength}}.
            </mat-error>
            <mat-error *ngIf="hasError('userName','maxlength')">
              {{inputMaxLength}}
            </mat-error>
            <mat-error *ngIf="hasError('userName','pattern')">
              {{notNumberSpecial}}
            </mat-error>
          </div>
        </div>--> 

       
      </form>

    
    </div>  
  </div>  

</div>
