<div class="w-full h-screen flex items-start">

  <div class="w-[90%]">
    
    <div class="pt-[10%] pl-[10%]">
      <div class="container bg-white bg-opacity-10 z-2 rounded-[48px] shadow-3xl border border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm w-full">

        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white text-center pt-8 min-[320px]:pb-6 lg:pb-1">Registro Voluntario</h1>
        
        <form class="w-full flex flex-col" [formGroup]="form">

          <div class="w-full flex px-[5%] lg:py-8 min-[320px]:flex-col lg:flex-row items-center justify-center">

            <!-- Nombre y Apellido -->
            <div class="min-[320px]:w-full lg:w-[50%] mx-4 min-[320px]:pb-6 lg:py-0">
              <input matInput formControlName="nameUser" placeholder="Nombre Apellido (*)" required
              class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['nameUser'].hasError('required') && form.controls['nameUser'].touched">El
                nombre de usuario es requerido.</mat-error>
              <mat-error *ngIf="form.controls['nameUser'].hasError('minlength')">El nombre de usuario debe
                tener al menos 3 caracteres.</mat-error>
              <mat-error *ngIf="form.controls['nameUser'].hasError('maxlength')">El nombre de usuario debe
                tener como máximo 20 caracteres.</mat-error>
            </div>


            <!-- DNI -->
            <div class="min-[320px]:w-full lg:w-[50%] mx-4">
              <input matInput formControlName="userDNI" placeholder="DNI (*)" required
                class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['userDNI'].hasError('required') && form.controls['userDNI'].touched">El
                  DNI es requerido.</mat-error>
              <mat-error *ngIf="form.controls['userDNI'].hasError('minlength')">El DNI debe
                  tener al menos 11 caracteres.</mat-error>
              <mat-error *ngIf="form.controls['userDNI'].hasError('maxlength')">El DNI debe
                  tener como máximo 11 caracteres.</mat-error>
            </div>

          </div>
          

          <div class="w-full flex flex-col px-[5%] items-center justify-center min-[320px]:py-6 lg:py-0">

            <!-- Correo Electrónico -->
            <div class="w-full flex flex-col lg:px-[2%] pb-6">
              <input matInput formControlName="writeYourEmail" placeholder="Correo Electrónico (*)" required
              class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none" autocomplete="off" email>
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['writeYourEmail'].hasError('required') && form.controls['writeYourEmail'].touched">El
                correo electrónico es requerido.</mat-error>
              <mat-error
                *ngIf="form.controls['writeYourEmail'].hasError('email') && form.controls['writeYourEmail'].touched">El
                formato del correo electrónico es incorrecto.</mat-error>
            </div>


            <!-- Password -->
            <div class="w-full flex flex-col lg:px-[2%] pb-6">
              <input matInput formControlName="password" placeholder="Contraseña (*)" required
                class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none"
                [type]="showPassword ? 'text' : 'password'" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">La
                contraseña es requerida.</mat-error>
              <mat-error
                *ngIf="form.controls['password'].hasError('minlength')">La
                contraseña debe tener al menos 8 caracteres.</mat-error>
              <mat-error
                *ngIf="form.controls['password'].hasError('maxlength')">La
                contraseña debe tener máximo 16 caracteres.</mat-error>
            </div>
         

            <!-- Password Again -->
            <div class="w-full flex flex-col lg:px-[2%] pb-6">
              <input matInput formControlName="confirmPassword" placeholder="Verifica tu contraseña (*)" required
                class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none"
                [type]="showPassword ? 'text' : 'password'" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Debes
                confirmar la contraseña.</mat-error>
              <mat-error
                *ngIf="passwordConfirm()">Las
                contraseñas no coinciden.</mat-error>
            </div>


            <!-- Provincia -->
            <div class="w-full flex flex-col lg:px-[2%] pb-6">
              <input matInput formControlName="province" placeholder="Provincia" required
                class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched">El nombre de la
                  Provincia es requerido.</mat-error>
              <mat-error *ngIf="form.controls['province'].hasError('minlength')">El nombre de Provincia debe tener al menos 3 caracteres.</mat-error>
              <mat-error *ngIf="form.controls['province'].hasError('maxlength')">El nombre de Provincia debe tener como máximo 30 caracteres.</mat-error>
            </div>

            
            <!-- Localidad -->
            <div class="w-full flex flex-col lg:px-[2%] pb-6">
              <input matInput formControlName="localidad" placeholder="Localidad (*)" required
                class="appearance-none block w-full bg-[#e8e8e8] border-b-2 border-black rounded py-3 px-4 outline-none focus:outline-none" autocomplete="off">
            </div>
            <div>
              <mat-error
                *ngIf="form.controls['locality'].hasError('required') && form.controls['locality'].touched">La
                  Provincia de usuario es requerido.</mat-error>
              <mat-error *ngIf="form.controls['locality'].hasError('minlength')">El nombre de la Localidad debe tener al menos 5 caracteres.</mat-error>
              <mat-error *ngIf="form.controls['locality'].hasError('maxlength')">El nombre de la Localidad debe tener como máximo 30 caracteres.</mat-error>
            </div>

            <div class="w-[60%] flex flex-col lg:px-[2%] pb-6">
              <button class="bg-[#3498db] text-white px-4 py-2 rounded-md" (click)="resetFormAndSaveData()">Crear Cuenta</button>
            </div>

          </div>

        </form>

        <div class="w-[93%] flex items-center relative py-2 justify-between">
          <div class="w-[20%] h-[1px] bg-white ml-[7%] pl-[10%]"></div>
          <p class="flex-row text-lg absolute text-white bg-transparent justify-center pl-[3%] min-[320px]:ml-[28%] lg:ml-[40%]">O registrate con</p>
          <div class="w-[20%] h-[1px] bg-white ml-[30%] pr-[1%]"></div>
        </div>
    
        <div class="w-[90%] flex lg:flex-row min-[320px]:flex-col py-[4%] items-center justify-center ml-[5%]">
    
          <div class="text-black my-2 lg:mr-4 font-semibold bg-white border border-black/40 rounded-md p-4 text-center flex justify-center cursor-pointer shadow-md min-[320px]:w-full lg:w-[40%]">
            <img class="h-6 mr-2" src="../../../../../assets/img/icons/google.png" alt="">
            <p class="min-[320px]:text-sm lg:text-base">Inicia sesión con Google</p>
          </div>
    
          <div class="text-black my-2 lg:ml-4 font-semibold bg-white border border-black/40 rounded-md p-4 text-center flex justify-center cursor-pointer shadow-md min-[320px]:w-full lg:w-[40%]">
            <img class="h-6 mr-2" src="../../../../../assets/img/icons/facebook.png" alt="">
            <p class="min-[320px]:text-sm lg:text-base">Inicia sesión con Facebook</p>
          </div>
    
        </div>
        
      </div>

      <div class="text-white text-center text-[32px] font-normal">
        Juntos, construyendo un futuro inclusivo
      </div>

  </div>

  </div>

</div>