<div class="w-full h-screen flex items-start">

    <img src="../../../assets/img/bgInstitutionForm.png" class="w-full h-screen object-cover absolute object-left">

    <div class="w-full h-screen absolute left-0 bg-white/20">
    </div>

    <div class="relative w-1/2 h-full flex-col sm:display hidden sm:block">
        <div class="absolute top-[30%] left-[20%] right-[20%] flex flex-col">
            <div class="bg-[#0878BE8C] rounded-[88px]">
                <p class="pt-16 pb-16 pl-4 pr-4 lg:text-3xl sm:text-xl text-center text-white animate__animated animate__fadeIn">
                    ¿Buscas voluntarios altamente calificados? Regístrense ahora y accedan a una lista de voluntarios especializados, evaluados y clasificados por zona geográfica."</p>
            </div>
        </div>
    </div>


    <div class="my-5 mx-8 relative min-[320px]:w-full md:w-1/2 justify-normal flex flex-col">

        <div class="w-full flex flex-col  bg-[#D9D9D94D] rounded-[88px]">
            <h1 class="text-[40px] font-bold leading-loose text-center text-white">Registro institucion</h1>
          <app-form-institution></app-form-institution>
        </div>
        <div class="text-white text-center text-[32px] font-normal">
            Juntos, construyendo un futuro inclusivo
        </div>
    </div>

