<div class="w-full h-screen flex items-start">

    <div class="relative w-1/2 h-full flex-col hidden sm:block min-h-screen">
        <div class="absolute top-[20%] left-[15%] flex lg:flex-row md:flex-col items-center justify-between">
            <img class="w-[132px]" src="../../../../../assets/logo.svg" alt="">
            <h1 class="sm:text-5xl text-4xl font-bold text-white animate__animated animate__zoomIn pl-8 md:pt-8 lg:pt-0">POLARIS</h1>
        </div>

        <div class="absolute top-[47%] left-[10%] right-[20%] flex flex-col">
            <div class="bg-[#0878BE8C] rounded-[88px]">
                <p class="max-w-[80%] lg:text-2xl sm:text-lg text-center text-white animate__animated animate__fadeIn mx-16 my-16">¿Listo para marcar la diferencia?. Únete a nuestro programa de voluntariado y obtén calificaciones en la web para fortalecer tu currículum en el campo de la atención especializada</p>
            </div>
        </div>

        <img src="../../../assets/img/ninoFondo1.png" alt="" class="w-full  object-cover min-h-screen">
    </div>

    <div class="relative min-[320px]:w-full md:w-1/2 h-full justify-normal flex flex-col bg-white">

        
        <div class="pl-[10%] pt-2 w-full">
            
            <div class="w-full flex flex-col">
                <app-form-volunteer></app-form-volunteer>
            </div>
            
        </div>
        
    </div>
    
    <!--<div *ngIf="!register" class="w-full h-screen flex items-start">
        <div *ngIf="!register" class="w-full h-screen flex items-start">
        <div class="relative w-1/2 h-full flex-col sm:display hidden sm:block">
            <div class="absolute top-[30%] left-[20%] right-[20%] flex flex-col">
                <div class="bg-[#0878BE8C] rounded-[88px]">
                    <p class="pt-16 pb-16 pl-4 pr-4 lg:text-3xl sm:text-xl text-center text-white animate__animated animate__fadeIn">"¿Listo para marcar la diferencia?. Únete a nuestro programa de voluntariado y obtén calificaciones en la web para fortalecer tu currículum en el campo de la atención especializada."</p>
                </div>
            </div>
        </div>


        <div class="relative min-[320px]:w-full md:w-1/2 justify-normal flex flex-col">

            <div class="w-full flex flex-col">
                <app-form-volunteer></app-form-volunteer>
            </div>
                
        </div>
    </div>

<div *ngIf="register" class="h-screen bg-black opacity-60 z-0">
    <app-welcome></app-welcome>
 </div>

 <button (click)="register = !register">x</button>-->
</div>

