<div style="background-size: cover; background-image: url(../../../assets/img/userDashboard/Rectangle.png); background-repeat: no-repeat;"
    class="text-white">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-6 lg:gap-10 mx-10">
            <div class="col-span-2">
                <div class="grid grid-rows-5 items-center p-4">
                    <div class="user-image-container relative"
                        style="display: flex; align-items: center; justify-content: center;">
                        <!-- Contenedor para la imagen de usuario o imagen seleccionada -->
                        <div class="image-container relative">
                            <img *ngIf="imageUrl; else serverImage" [src]="imageUrl" alt="Imagen de usuario"
                                class="object-cover w-40 h-40 rounded-full">
                            <ng-template #serverImage>
                                <img [src]="user?.imageProfile || '../../../../assets/usuarios.png'" alt="Usuario vacío"
                                    class="object-cover w-40 h-40 rounded-full">
                            </ng-template>
                            <label for="file-input"
                                class="camera-button absolute bottom-8 right-0 mt-1 mr-1 w-8 h-8 flex items-center justify-center rounded-full cursor-pointer">
                                <img id="camera-icon" src="../../../../assets/camerass.png" alt="Cámara"
                                    class="w-20 h-20 object-contain rounded-full">
                            </label>
                        </div>
                        <input id="file-input" type="file" (change)="onFileSelected($event)" class="hidden">
                    </div>
                    <div class="row-span-2">
                        <h1 class="text-3xl	mb-10 text-center mt-4">Sobre ti:</h1>
                        <div class="container new p-10 px-5 gap-x-20">
                            <input type="text" class="">
                        </div>

                    </div>
                    <div class="row-span-2">
                        <h1 class="text-3xl	mb-10 text-center">Instituciones registradas:</h1>
                        <div class="container new p-10 grid-rows-3 px-5 gap-5">
                            <div class="container text-center new p-5 px-5 mb-5">
                                <p class="">Escuela Especial Distrital N*14</p>
                                <p class="">Barrio San Jose , Caba</p>
                            </div>
                            <div class="container text-center new p-5 px-5 mb-5 gap-x-20">
                                <p class="">Escuela Especial Distrital N*14</p>
                                <p class="">Barrio San Jose , Caba</p>
                            </div>
                            <div class="container text-center new p-5 px-5 gap-x-20">
                                <p class="">Escuela Especial Distrital N*14</p>
                                <p class="">Barrio San Jose , Caba</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <div>
                    <!-- Row de datos personales -->
                    <div>
                        <h1 class="text-3xl	my-10 text-center">Datos personales</h1>
                        <div
                            class="container new p-10 grid md:px-20 grid-cols-1 xl:gap-x-10 xl:grid-cols-2 grid-rows-6 xl:grid-rows-4 mr-4">
                            <div class="col-span-1 flex items-center">
                                <i class="fa-solid fa-user text-3xl mx-2"></i>
                                Gonzalo Benegas

                            </div>
                            <div class="col-span-1 row-start-2 flex items-center">

                                <i class="fa-solid fa-envelope text-3xl mx-2 inline-block"></i>
                                <div class="inputs-vol rounded w-full bg-white p-2">
                                    <input type="email" placeholder="ejemplo@ejemplo.com"
                                        class="w-full rounded inputs-correo border-none">
                                </div>
                            </div>
                            <div class="col-span-1 row-start-3 flex items-center">
                                <div class="inputs-vol rounded w-full bg-white p-2">
                                    <input type="email" placeholder="Capital Federal, Argentina"
                                        class="w-full rounded inputs-correo">
                                </div>
                            </div>
                            <div class="col-span-1 xl:row-start-1 xl:col-start-2 row-start-4 flex items-center">
                                <div class="">
                                    08/07/89
                                </div>
                            </div>
                            <div class="col-span-1 xl:row-start-2 row-start-5 flex items-center">
                                <div class="inputs-vol rounded w-full bg-white p-2">
                                    <input type="email" placeholder="+54 - 11-3485 - 6274"
                                        class="w-full rounded inputs-correo">
                                </div>
                            </div>
                            <button type="button"
                                class="text-center col-span-2 block m-auto rounded px-12 mt-5 py-3 btn">Guardar</button>
                        </div>


                    </div>
                    <!-- Row de datos del voluntario -->
                    <div>
                        <h1 class="text-3xl	my-10 text-center">Datos de voluntario</h1>
                        <div
                            class="container new p-10 px-20 grid grid-rows-8 lg:grid-rows-6 gap-4 grid-cols-1 lg:grid-cols-3 gap-x-5">
                            <div class="flex items-center ml-auto text-right">
                                <div class="text-2xl row-start-1">
                                    Formacion
                                </div>
                            </div>
                            <div class="lg:col-span-2 flex items-center">

                                <div class="inputs-vol rounded w-full bg-white p-2">
                                    <input type="email" placeholder="Ej.: Universidad Nacional Docente"
                                        class="w-full rounded inputs-correo">
                                </div>
                            </div>
                            <div class="flex items-center text-right row-start-3 col-start-1 md:row-start-2">
                                <div class="ml-auto text-2xl">
                                    Disponibilidad Horaria:
                                </div>
                            </div>
                            <div class="lg:col-span-2 gap-x-4 flex items-center">

                                <div class="flex items-center">
                                    <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                    <p class="text-2xl ml-2 my-0">
                                        Mañana
                                    </p>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                    <p class="text-2xl ml-2 my-0">
                                        Tarde
                                    </p>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Taller de arte
                                </p>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Lenguaje de señas
                                </p>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Deportes
                                </p>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Taller de lectura
                                </p>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Yoga y meditacion
                                </p>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" class="rounded w-7 h-7 inputs-correo">
                                <p class="text-2xl ml-2 my-0">
                                    Idiomas
                                </p>
                            </div>
                            <div class="flex items-center text-right">
                                <div class="espaciado ml-auto flex items-center text-right text-2xl">
                                    <p class="text-2xl">
                                        Otros
                                    </p>
                                    <input type="checkbox" placeholder="" class="ml-3 rounded w-7 h-7 inputs-correo">
                                </div>
                            </div>
                            <div class="col-span-2">

                                <div class="inputs-vol rounded w-full bg-white p-2 espaciado">
                                    <input type="email" placeholder="ejemplo@ejemplo.com"
                                        class="w-full rounded inputs-correo">
                                </div>
                            </div>
                            <div class="col-span-1 col-start-2">
                                <button type="button"
                                    class="text-center col-span-2 block m-auto rounded px-12 mt-5 py-3 btn">Guardar</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row de Reseñas -->
                    <div>
                        <h1 class="text-3xl	my-10 text-center">Reseñas</h1>
                        <div class="container new p-5 px-10 grid grid-rows-3 gap-4 grid-cols-3 gap-x-5">
                            <div class="row-span-3 text-center  ">
                                <div class="flex items-center">
                                    <img src="../../../assets/img/userDashboard/Ellipse 15.png" class="w-100"
                                        style="height: 20%!important;" alt="">
                                </div>
                            </div>
                            <div class="col-span-1 text-2xl ">Javier Molina</div>
                            <div class="col-span-1 col-start-2 row-start-2">Terapeuta Especializado</div>
                            <div class="col-span-1 col-start-2 row-start-3">Parque Patricios Caba</div>
                            <div class="row-span-2 col-start-3 row-start-1">Javier resultó altamente recomendado por su
                                dedicación y habilidades excepcionales en el cuidado de personas con discapacidad
                                visual."</div>
                            <div class="col-span-1 col-start-3 row-start-3">
                                <div class="container new">+54-11-3497 -5562</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- <div style="background-size: cover; background-image: url(../../../assets/img/gradientPolaris.png); background-repeat: no-repeat;">
    <div class="container mx-auto">
        <div class="grid grid-cols-4 md:grid-cols-2 gap-4">

            <div class="col-span-1">
                test

                <div class="grid grid-rows-3 gap-4">
                    <div>
                        <p>foto</p>
                    </div>
                    <div>
                        
                    </div>
                    <div>

                    </div>
                </div>
            </div>


            <div class="col-span-2 md:col-span-1">
                test

                <div class="grid grid-rows-3 gap-4">
                    <div>
                        <h1>Datos personales</h1>
                        <div class="container">
                            <div class="flex flex-row">
                                <div class="flex flex-col">
                                    <div>
                                        [nombre]
                                    </div>
                                    <div>
                                        <label for="text" class="block">Correo electrónico</label>
                                        <input type="email">
                                    </div>
                                </div>
                                <div class="flex flex-col"></div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div>
>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

 -->